<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style.css"/>

    <title>Velký Čangas</title>
</head>
<body>
    <div class="background"> </div>
    <div class="gridcontainer">
        <nav>
            <img src="https://bigchungus.cz/Bigchungus.png" id="logo">
            <h1>Navštívili jste <br> VELKÉHO <br> ČANGASE</h1>
            <br/>
            <p class="nav-link"> <a href="/">Domů</a></p>
            <p class="nav-link"> <a href="/artilces">Články</a></p>
            <p class="nav-link"> <a href="/guestbook">Návštěvní kniha</a></p>
            <p class="nav-link"> <a href="/about">O Čangasovi</a></p>
            <p class="nav-link"> <a href="/rss">RSS</a></p>
            <p class="nav-link"> <a href="http://bigchungus.i2p/">i2p</a> <a href="http://chung.onion">tor</a></p>
        </nav>
        <main>
            <article>
            <h2>Vstoupit smí každý. S odchodem už to ale tak jednoduché nebude...</h2>
            <p>
                Stanuli jste na prahu podivného, pofiderního a zhola nezajímavého osobního a většinu času neaktivního blogu.
                Budu moc rád, když se chvíli zdržíte a pročtete si nějaké články,
                nebo se alespoň pokocháte gramatickýmy chybamy, kterýmy nerad šetřím.
            </p>
            <img src="/img/bongo.gif">
            <br>
            <h3>Dnešní citát:</h3>
            <p class="quote"><%= sex %></p>
            </article>
            <h3>Nejnovější články:</h3>
            <% articles.forEach(function(article) {%>
            <a href="<%= article.urlidArticle %>">
            <div class="article-preview">
                <h3><%= article.titleArticle %></h3>
                <p style="font-family: LibreBaskerville-Italic">publikováno dne <%=
                   article.publicationDateArticle.getDate().toString() +". "+
                   (article.publicationDateArticle.getMonth()+1).toString() +". "+
                   article.publicationDateArticle.getFullYear().toString() %></p>
                <p><%= article.abstractArticle %></p>
            </div>
            </a>
            <% }); articles %>
            <div>
            <h4>Filler:</h4>
            <h5>Fillera:</h5>
            <p>To disarm the malwar ples call the nummber of you're screen desplay bleow. Do not hestate. Your computer will be destroied otherwiese. And you hard drives broke and you're house burn down two!!!</p>
            <p>To disarm the malwar ples call the nummber of you're screen desplay bleow. Do not hestate. Your computer will be destroied otherwiese. And you hard drives broke and you're house burn down two!!!</p>
            <p>To disarm the malwar ples call the nummber of you're screen desplay bleow. Do not hestate. Your computer will be destroied otherwiese. And you hard drives broke and you're house burn down two!!!</p>
            <p>To disarm the malwar ples call the nummber of you're screen desplay bleow. Do not hestate. Your computer will be destroied otherwiese. And you hard drives broke and you're house burn down two!!!</p>
            <p>To disarm the malwar ples call the nummber of you're screen desplay bleow. Do not hestate. Your computer will be destroied otherwiese. And you hard drives broke and you're house burn down two!!!</p>
            <p>To disarm the malwar ples call the nummber of you're screen desplay bleow. Do not hestate. Your computer will be destroied otherwiese. And you hard drives broke and you're house burn down two!!!</p>
            <p>To disarm the malwar ples call the nummber of you're screen desplay bleow. Do not hestate. Your computer will be destroied otherwiese. And you hard drives broke and you're house burn down two!!!</p>
            <p>To disarm the malwar ples call the nummber of you're screen desplay bleow. Do not hestate. Your computer will be destroied otherwiese. And you hard drives broke and you're house burn down two!!!</p>
            <p>To disarm the malwar ples call the nummber of you're screen desplay bleow. Do not hestate. Your computer will be destroied otherwiese. And you hard drives broke and you're house burn down two!!!</p>
            <p>To disarm the malwar ples call the nummber of you're screen desplay bleow. Do not hestate. Your computer will be destroied otherwiese. And you hard drives broke and you're house burn down two!!!</p>
            <p>To disarm the malwar ples call the nummber of you're screen desplay bleow. Do not hestate. Your computer will be destroied otherwiese. And you hard drives broke and you're house burn down two!!!</p>
            <p>To disarm the malwar ples call the nummber of you're screen desplay bleow. Do not hestate. Your computer will be destroied otherwiese. And you hard drives broke and you're house burn down two!!!</p>
            <p>To disarm the malwar ples call the nummber of you're screen desplay bleow. Do not hestate. Your computer will be destroied otherwiese. And you hard drives broke and you're house burn down two!!!</p>
            </div>
        </main>
    </div>
</body>

</html>
