<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style.css"/>

    <% if (typeof og !== 'undefined') { %>
    <meta property="og:title" content="<%= og.title %>">
    <meta property="og:type" content="<%= og.type %>">
    <meta property="og:image" content="<%= og.image %>">
    <meta property="og:url" content="<%= og.url %>">
    <meta property="og:locale" content="<%= og.locale %>">
    <meta property="og:description" content="<%= og.description %>">
    <meta property="og:site_name" content="<%= og.site_name %>">
    <% } %>

    <title><%= title %></title>
</head>
<body>
    <div class="background"> </div>
    <div class="gridcontainer">
        <nav>
            <img src="<%= logo %>" id="logo">
            <h1>Navštívili jste <br> VELKÉHO <br> ČANGASE</h1>
            <hr>
            <br>
            <p class="<%= (highlight == 1 ? "nav-link-active" : "nav-link") %>"> <a  href="/">Domů</a></p>
            <p class="<%= (highlight == 2 ? "nav-link-active" : "nav-link") %>"> <a href="/articles">Články</a></p>
            <!--   <p class="<%= (highlight == 3 ? "nav-link-active" : "nav-link") %>"> <a href="/guestbook">Návštěvní kniha</a></p> -->
            <p class="<%= (highlight == 4 ? "nav-link-active" : "nav-link") %>"> <a href="/about">O Čangasovi</a></p>
            <p class="nav-link-atom" > <a href="/atom">Atom Feed</a></p>
            <p class="<%= (highlight == 6 ? "nav-link-active" : "nav-link") %>"> <a href="http://bigchungus.i2p/">i2p</a> <a href="http://chung.onion">tor</a></p>
        </nav>
        <main>
            <%- content %>
        </main>
    </div>
</body>

</html>
